@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

:root {
    --color-background: #ffffff;
    --color-black: #212121;
    --color-black-heavy: #e66700; 
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #deffff;
    --color-secondary: #ff7300;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
}

/* Estilo padrão (modo claro) */
html, body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
}

.item-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.img-produto {
    display: flex; 
    align-items: center; 
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    margin-left: 15px;
    object-fit: cover; 
}

.img-produto img {
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    margin-left: -8px;
    object-fit: cover; 
}

.img-produto-cardapio {
    display: flex; 
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    margin-left: 15px;
    object-fit: cover; 
}

.img-produto-cardapio img {
    width: 100%;
    height: 100%;
    margin-left: -0.9rem;
    border-radius: 10px;
    object-fit: cover; 
}

.img-produto-resumo {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.img-produto-resumo img {
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    margin-left: -2px;
    object-fit: cover; 
}

.dados-cliente {
    position: absolute;
    top: 0.25rem;
    left: 1rem;
}

.dados-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 15px;
}

.dados-produto .title-produto{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 15px;
    font-size: xx-large;
    left: 10rem;
    top: 1.75rem;
}

.dados-produto .price-produto{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    font-size: x-large;
    left: 10.1rem;
    top: 4.75rem;
}   

.dados-produto .title-produto-resumo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 15px;
    font-size: x-large;
    left: 10rem;
    top: 1.75rem;
}

.dados-produto .price-produto-resumo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    font-size: larger;
    left: 10.1rem;
    top: 4.75rem;
} 

html {
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

b {
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.hidden {
    display: none!important;
}

.color-primary {
    color: var(--color-primary);
}

a.navbar-brand {
    margin-left: -25px;
}

.nav-link {
    color: var(--color-black)!important;
    padding-left: 35px!important;
    padding-right: 35px!important;
}

.btn-white {
    background-color: var(--color-secondary);
    color: var(--color-white)!important;
    position: absolute;
    right: 9rem;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.btn-white.active, .btn-white:hover {
    background-color: var(--color-black-heavy);
}

.btn-voltar {
    background-color: var(--color-secondary);
    color: var(--color-white)!important;
    position: absolute;
    right: 9rem;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.btn-voltar.active, .btn-voltar:hover {
    background-color: var(--color-black-heavy);
}

.btn-categoria {
    background-color: var(--color-secondary);
    color: var(--color-white)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.btn-icon {
    position: absolute;
    right: 5px;
    margin-top: -5px;
    padding-right: 75px;
}

.btn-icon .icon {
    display: inline-block;
    color: var(--color-white);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 20px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 6px;
}

.banner {
    padding-top: 110px;
    padding-bottom: 200px;
}

.text-banner {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.text-banner h1 {
    color: var(--color-black);
    font-size: 60px;
}

.text-banner p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.btn-icon-left {
    padding-left: 70px;
}

.btn-icon-left span.icon-left {
    display: inline-block;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
}

.btn-sm {
    padding: 9px 15px!important;
    border-radius: 15px!important;
    font-size: 18px!important;
}

.btn-ver {
    background-color: var(--color-secondary);
    color: var(--color-white)!important;
    right: 0rem;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.btn-social {
    width: 50px;
    background-color: var(--color-secondary);
    color: var(--color-white) !important;
    gap: 10px;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card-banner {
    height: 450px;
    width: 450px;
    border-radius: 170px;
    background-color: #f4c949;
    position: absolute;
    right: 0;
    top: -80px;
}

.img-banner img {
    position: absolute;
    width: 570px;
    top: 30px;
    right: 15px;
}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1)!important;
    border: none!important;
}

.card-case {
    width: 350px;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: -75px;
}

.card-case-name {
    position: absolute;
    font-size: 12px;
    color: var(--color-primary);
    right: 20px;
    bottom: 10px;
}

.servicos {
    padding-top: 100px;
    padding-bottom: 150px;
}

.hint-title {
    color: var(--color-s);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title {
    color: var(--color-black);
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.card-icon {
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    color: var(--color-text-out);
    font-size: 15px;
    padding: 0px 30px;
}

.card-text p {
    font-size: 22px;
    color: var(--color-black);
    margin-bottom: 10px;
}

.cardapio {
    padding-top: 50px;
    padding-bottom: 150px;
}

.container-menu {
    margin-bottom: 40px;
    right: -6rem;
}

.card-item {
    background-color: var(--color-secondary);
    height: 360px;
}

.card-item .img-produto img {
    width: 100%;
    border-radius: 11px;
}

.card-item .title-produto {
    color: var(--color-black);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0px;
}

.card-item .price-produto {
    color: var(--color-primary);
    font-size: 24px;
}

.card-item .add-carrinho {
    display: none;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn-menos {
    position: absolute;
    right: 75px;
    top: 70px;
    background-color: var(--color-background);
    color: var(--color-black);
    color: var(--color-black);
    padding: 5px 7px;
    border: 2px solid var(--color-white);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-mais {
    position: absolute;
    right: -5px;
    top: 70px;
    background-color: var(--color-background);
    color: var(--color-black);
    color: var(--color-black);
    padding: 5px 7px;
    border: 2px solid var(--color-white);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.add-numero-itens {
    position: absolute;
    right: 30px;
    top: 70px;
    background-color: var(--color-background);
    color: var(--color-black);
    padding: 2px 15px;
    border-top: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
    font-size: 18px;
}

.btn-remove {
    position: absolute;
    right: 1120px;
    top: 55px;
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 7px 10px;
    border: 2px solid var(--color-white);
    border-radius: 10px;
    cursor: pointer;
}

.btn-menos-cardapio {
    background-color: var(--color-background);
    color: var(--color-black);
    color: var(--color-black);
    padding: 5px 7px;
    border: 2px solid var(--color-white);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-mais-cardapio {
    background-color: var(--color-background);
    color: var(--color-black);
    color: var(--color-black);
    padding: 5px 7px;
    border: 2px solid var(--color-white);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.add-numero-itens-cardapio {
    background-color: var(--color-background);
    color: var(--color-black);
    padding: 2px 15px;
    border-top: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
    font-size: 18px;
}

.btn-add {
    border: 2px solid var(--color-black-heavy);
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-black);
    background-color: var(--color-black-heavy);
    margin-left: 15px;
}

.card-item:hover {
    background-color: var(--color-primary);
}

.card-item:hover .title-produto {
    display: none;
}

.card-item:hover .add-carrinho {
    display: flex;
}

.card-item:hover .price-produto {
    color: var(--color-black)!important;
    margin-top: 20px;
}

.card-secondary {
    background-color: var(--color-secondary);
    border-radius: 70px;
    padding: 90px;
}

footer {
    background-color: var(--color-secondary);
}

.logo-footer {
    width: 150px;
}

.container-logo-footer, .container-texto-footer {
    display: flex;
    align-items: center;
    color: var(--color-black)
}

.container-redes-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-logo-footer {
    justify-content: start;
}

.container-texto-footer {
    justify-content: center;
}

.container-redes-footer {
    justify-content: end;
    
}

  /* Estilo básico para o container de mensagens */
#container-mensagens {
    position: fixed; /* A mensagem fica fixa na tela */
    top: 20px; /* A mensagem começa no topo */
    right: 20px;
    z-index: 1000;
    width: 100%; 
    text-align: center; /* Opcional, para centralizar as mensagens */
  }
  
  /* Estilo das mensagens */
  .toast {
    background-color: var(--color-green);
    color: var(--color-black );
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 16px;
    max-width: 300px;
    box-sizing: border-box;
    display: inline-block; /* Garante que a mensagem se alinhe corretamente */
    position: relative;
  }

.botao-carrinho {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff6600;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
  }
  .botao-carrinho .badge-total-carrinho {
    position: fixed;
    top: -5px;
    right: -5px;
    background: var(--color-black);
    color: var(--color-primary);
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .hidden {
    display: none;
  }

/* ===== MODAL ===== */
.modal-full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    background: var(--color-white);
    z-index: 9990;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.m-header {
    padding-bottom: 20px;
}

.m-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ===== ETAPAS ===== */
.etapas {
    display: flex;
    position: relative;
}

.etapa {
    width: 35px;
    height: 35px;
    background-color: var(--color-white);
    border-radius: 50px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.etapa::before {
    content: '';
    width: 20px;
    height: 2px;
    background-color: var(--color-separate);
    position: absolute;
    margin-left: 55px;
}

.etapa:last-child::before {
    content: none;
}

.etapa.active, 
.etapa.active::before {
    background-color: var(--color-primary);
}

/* ===== BOTÕES ===== */
.btn-yellow {
    background-color: var(--color-secondary);
    color: var(--color-white)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

/* ===== TOTAL CARRINHO ===== */
.container-total {
    padding-top: 20px;
    border-top: 1px solid var(--color-separate);
}

.container-total .texto-entrega {
    color: var(--color-text);
}

.container-total .texto-total {
    color: var(--color-black);
    font-size: 20px;
    margin-top: 10px;
}

.container-total .valor-total {
    color: var(--color-secondary);
    font-size: 24px;
}

/* ===== FORMULÁRIOS ===== */
.form-control {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border: none;
}
